@mixin wrap-pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#content-buttons {
  padding-bottom: 10px;
  border-bottom: 1px solid #343a40;
  margin-bottom: 20px;
  button {
    margin-right: 10px;
    min-width: 5rem;
  }
}

#lesson {
  pre {
    @include wrap-pre;
  }
}

.text-field, .code-field, .bash-field {
  margin-bottom: 20px;
  .target-field {
    min-height: 8rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.15);
    div {
      min-height: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

.field-buttons {
  margin-bottom: 10px;
}

.text-field .target-field {
  h2 {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
  }
}

.text-field {
  font-family: inherit;
  .target-field {
    font-family: inherit;
    text-indent: 1rem;
  }
  .erase-btn {
    margin-left: 5px;
  }
}

.code-field {
  .target-field {
    font-family: "Courier New", Courier, monospace;
  }
}

.bash-field {
  .target-field {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #313140;
    color: #4EF28C;
  }
}

.target-field {
  @include wrap-pre;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

#lesson {
  .code-field, .bash-field {
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
  }
}

#lesson > .bash-field {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #313140;
  color: #4EF28C;
  padding: 10px;
}

#lesson > .code-field {
  padding: 10px;
}