<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= link_to "PLATO", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Paths", paths_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>